@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*
.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F7FA;
    font-family: "Figtree", sans-serif;
}

header {
    width: 100vw;
    padding: 20px;
    height: fit-content;
    background-image: linear-gradient(120deg, #4A90E2, #357ABD 90%);
}

header #container {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

header p {
    color: #E7F2FA;
    font-weight: bold;
    font-size: 26pt;
    line-height: 22pt;
    text-align: right;
}

header #header-menu {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header #header-menu a {
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E7F2FA;
    font-size: 16pt;
    border-radius: 25px;
    transition: 0.2s;
}

header #header-menu a:hover {
    background-color: #4A90E2;
    box-shadow: 0 0 10px #00000016;
    
}

header #header-menu a:active {
    background-color: #4a91e25d;
    box-shadow: 0 0 0 #00000016;
}

footer {
    width: 100%;
    height: 400px;
    padding: 50px;
    background-image: linear-gradient(120deg, #4A90E2, #357ABD 90%);
    color: #E7F2FA;
}

footer #container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-info-container {
    width: 50%;
    height: 150px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-info-container #links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

main {
    width: 1000px;
    margin: 15px auto 15px auto
}

main article {
    width: 100%;
    height: auto;
    padding: 10px;
    color: #1F2A38;
    font-size: 16pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main article img {
    width: 100%;
    border-radius: 25px;
}

main article #left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px;
}

main article #right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px;
}
