@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/*
.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F7FA;
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 20px;
    height: fit-content;
    background-image: linear-gradient(120deg, #4A90E2, #357ABD 90%);
}

header #container {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

header #logo {
    color: #E7F2FA;
    font-weight: bold;
    font-size: 26pt;
    line-height: 22pt;
    text-align: right;
}

header #header-menu {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header #header-menu a {
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E7F2FA;
    font-size: 12pt;
    border-radius: 25px;
    transition: 0.2s;
}

header #header-menu a:hover {
    background-color: #4A90E2;
    box-shadow: 0 0 10px #00000016;
    
}

header #header-menu a:active {
    background-color: #4a91e25d;
    box-shadow: 0 0 0 #00000016;
}

footer {
    width: 100%;
    bottom: 0;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-image: linear-gradient(120deg, #4A90E2, #357ABD 90%);
    color: #E7F2FA;
}

footer #container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-info-container {
    width: 50%;
    min-width: 300px;
    height: 150px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-info-container p {
    text-align: justify;
}

.footer-info-container #links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.footer-info-link {
    white-space: nowrap;
    width: 150px;
    text-decoration: none;
    color: #E7F2FA;
    transition: 0.2s;
}

.footer-info-link:hover {
    color: #c5ced5;
}

.footer-info-link:active {
    color: #acb4bc;
}

.footer-info-link {
    white-space: nowrap;
    width: 150px;
    text-decoration: none;
    color: #E7F2FA;
    transition: 0.2s;
}

#social-media-icon-links {
    width: 100%;
    display: flex;
    gap: 30px
}

#social-media-icon-links .icon {
    width: 30px;
    height: 30px;
}

main {
    width: 70vw;
    margin: 15px auto 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main article {
    width: 100%;
    padding: 10px;
    color: #1F2A38;
    font-size: 16pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main article img {
    width: 100%;
    border-radius: 25px;
}

main article .left-side {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px;
}

main article .right-side {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px;
}

main #species-list {
    width: 70vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main #species-list li {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
}

main table {
    box-sizing: content-box;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #357ABD;
    overflow-x: auto;
    white-space: nowrap;
}

main table th {
    background-color: #4A90E2;
    border: 2px solid #357ABD;
    color: #E7F2FA;
    padding: 5px;
}

main table td {
    border: 2px solid #357ABD;
    padding: 10px;
}

main table td:nth-child(2) {
    text-align: center;
}

@media only screen and (max-width: 950px) {
    header {
        padding: 40px 0 0 0;
    }
    
    header #header-menu {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header #header-menu a {
        width: 100%;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main article table {
        display: block;
        width: max-content;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        border: 0;
    }
}

@media only screen and (max-width: 1100px) {
    main {
        width: 100vw;
        padding: 20px;
    }

    main article img {
        display: none;
    }

    main article .panel {
        width: 100%;
    }

    footer #container {
        width: 100vw;
        padding: 20px;
    }

    footer .footer-info-container {
        width: 80%;
        height: fit-content;
    }

    footer #links {
        justify-content: space-between;
    }

    .footer-info-link {
        width: 50%;
    }

    header #container {
        width: 100%;
        flex-direction: column;
        gap: 35px;
    }
}